---
---

@import 'main';

/* فقط نضيف خلفية GIF في الوضع الداكن بدون ما نعدّل على الثيم */

@media (prefers-color-scheme: dark) {
  html:not([data-mode]), html[data-mode='dark'] {
    body {
      background-image: url('https://media.giphy.com/media/v1.Y2lkPWVjZjA1ZTQ3MGN0c2c4OHZ6cW40dzVzZ2Z1bmV2ZnFnbXBrYjd4eDI4aTRtcm9pMSZlcD12MV9naWZzX3NlYXJjaCZjdD1n/UMXpgbLC6Cd2Lh4nNb/giphy.gif');
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      background-position: center;
    }
  }
}
