body {
  background-image: url('https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExN3JvdG1zeGQwNzNsc2RiaHM0ZzY0bjR4bHVkeTRoMGVheGd1dnExeCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/26h0qLFdOBklnBsyI/giphy.gif') !important;
  background-size: cover !important;
  background-position: center !important;
  background-attachment: fixed !important;
}

/* خلي المحتوى شفاف شوي */
#core-wrapper {
  background-color: rgba(255, 255, 255, 0.9) !important;
}
