body {
  background-image: url('https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExN3JvdG1zeGQwNzNsc2RiaHM0ZzY0bjR4bHVkeTRoMGVheGd1dnExeCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/26h0qLFdOBklnBsyI/giphy.gif') !important;
  background-size: cover !important;
  background-position: center !important;
  background-attachment: fixed !important;
  background-repeat: no-repeat !important;
}

#main-wrapper {
  background-color: rgba(27, 27, 30, 0.9) !important;
}

#core-wrapper {
  background-color: transparent !important;
}
